.backgroundImage {
  background-image: url('C:\Users\petra\OneDrive\Área de Trabalho\Projeto-Final---ON23-\projeto-final-petra\src\assets\homesection2bg.png'); /* Substitua pelo caminho correto da sua imagem */
  background-size: cover; 
}

.headerImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

  
  .typingAnimation {
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 2px solid transparent; 
    animation: typing 4s steps(40), blink-caret 0.75s step-end infinite;
  }
  
 
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #c96ab9; /* ou a cor de sua preferência */
    }
  }
  
  .cardDescription {
    font-size: 1rem;
    color: #474a51;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .backgroundImage {
    width: 100%;
  }

  .joinButton {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #eea9e2;
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .joinButton:hover {
    background-color: #d080c6;
  }

  .mainContent {
    padding: 5rem; 
  }
  
  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
  
  .cardContainer {
    background-color: rgba(238, 212, 223, 0.664);
    width: 60rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    padding: 2rem;
    color: #c96ab9;
  }
  

  @media screen and (max-width: 768px) {
    .mainContent {
      padding: 2rem; /* Espaçamento menor para telas menores */
    }
  
    .cardContainer {
      width: 100%;
    }
  
    .cardTitle {
      font-size: 2rem;
    }
  
    .cardDescription {
      font-size: 1rem;
    }
  }

 