:root {
    --cor-primaria: #c96ab9;
    --cor-secundaria: #474a51;
    --cor-hover: #f5c9ef;
  }

  .sectionContainer {
    background-image: url('src/assets/homesection2bg.png'); 
    background-size: cover;
    position:relative;
    padding: 2rem; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1rem; 
    justify-items: center; 
  }

  .introSection {
    background-color: #f8ddf5b9;
    padding: 2rem;
    text-align: center;
  }
  
  .introSection h2 {
    font-size: 2rem;
    color: #c96ab9;
    margin-bottom: 1rem;
  }
  
  .introSection p {
    font-size: 1rem;
    color: #474a51;
    line-height: 1.5;
  }

  
  @media screen and (max-width: 480px) {
    .sectionContainer {
      grid-template-columns: 1fr; 
      padding: 0.5rem; 
    }
  }

 
 