.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(238, 212, 223, 0.664);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 40rem;
    padding: 2rem;

  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem; 
  }
  
  .form h2 {
    font-size: 1.5rem;
    color: var(#ccc);
    margin-bottom: 1rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup label {
    font-weight: bold;
  }
  
  .formGroup input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: var(--cor-primaria);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: var(--cor-hover);
  }



