.menuContainer {
    background-color: #f8ddf5b9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 5em;
    list-style: none;
    font-weight: bold;
}

.menuContainer img {
   align-items: center;
   justify-content: center;
   width: 10em;
   padding: 1rem;
   height: fit-content;
   padding-top: 0%;
   padding-bottom: 0%;

}

.menuLink {
    text-decoration: none;
    color: #f194da;
    font-size: 1.5em;
}

.menuLink:hover {
    border-top: 4px solid #f5e555;
    border-bottom: 4px solid #f5e555;
    padding: 6px 0; 
}

img {
    justify-content: center;
    padding: 2rem;
    align-items: center;
    gap: 10em;
    max-width: fit-content;
    width: 300px;
}

@media screen and (max-width: 768px) {
    .menuContainer {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .menuContainer img {
        width: 8em;
        align-items: end;
    }

    .menuLink {
        font-size: 1.2em;
    }
}