.menuContainer {
  background-color: #f8ddf5b9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  gap: 2em;
  list-style: none;
  font-weight: bold;
}

.menuContainer img {
  align-items: center;
  justify-content: center;
  width: 8em;
  padding: 0.5rem;
  height: fit-content;
  padding-top: 0%;
  padding-bottom: 0%;
  border-radius: 6px;
}

.menuLink {
  text-decoration: none;
  color: #f194da;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out; 
}

.menuLink:hover {
  color: #c96ab9; 
  transform: scale(1.1); 
}
  
  @media screen and (max-width: 768px) {
    .menuContainer {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  
    .menuContainer img {
      width: 6em; 
      align-items: end;
    }
  
    .menuLink {
      font-size: 1em; 
    }
  }