.swiper-container {
  max-width: 400px; 
  margin: 0 auto; 
}

.title {
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--cor-primaria); 
}

.slide-item {
  width: 30rem; 
  height: 30rem; 
  object-fit: contain; 
  border-radius: 36px; 
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--cor-secundaria); 
  margin: 1rem 0;
}

p {
  text-align: center;
  font-size: 1rem;
  color: var(--cor-secundaria); 
}

.swiper-button-prev, .swiper-button-next {
  font-size: 1rem;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: var(--cor-primaria);
}

@media (max-width: 768px) {
  .swiper-container {
    max-width: 100%;
  }

  .slide-item {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

}

